/* Contact Us */
.email-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.625rem; /* Use rem for scalable padding */
  background-color: #f9f9f9; /* Default background color */
  border: none;
  border-radius: 50%; /* Ensure it's circular */
  cursor: pointer;
  background-color: #006b0e;
  width: 4vw; /* Responsive width */
  transition: background-color 0.3s ease, opacity 0.3s ease; /* Move transition here */
}

.email-button img {
  width: 100%; /* Responsive image width */
  height: auto; /* Maintain aspect ratio */
}

.email-button img :hover {
  background-color: #006b0e;
  opacity: 1;
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {
  .email-button {
    width: 15vw; /* Increase size for smaller screens */
    height: 15vw; /* Increase size for smaller screens */
  }
}

@media (max-width: 400px) {
  .email-button {
    width: 20vw; /* Further increase size for very small screens */
    height: 20vw; /* Further increase size for very small screens */
  }
}
