/* Base and General Styles */
html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  color: #195494;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* Page Layout */
div {
  display: flex;
  flex-direction: column;
}

.main,
section {
  flex-grow: 1;
  padding: 2rem;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  margin-top: 0;
}

.middle img {
  width: 12.5vw;
  height: auto;
  border-radius: 0.5rem;
}

/* Titles */
.h1-homepage,
.about-us-h1,
.h2-contact,
.donation-container h1,
.single-post .post-title {
  text-align: center;
  font-weight: bold;
  margin: 1rem 0;
  color: #007bff;
}

.h1-homepage {
  color: blue;
}
.about-us-h1,
.h2-contact {
  font-size: 1.5rem;
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .donation-items {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  nav ul li {
    margin-inline: 1vw;
    font-size: 3vw;
  }

  .middle img {
    width: 5.5vw;
  }

  .donation-item h2 {
    font-size: 1.125rem;
  }

  .donation-item p {
    font-size: 0.875rem;
  }

  .donation-button {
    padding: 0.5rem 0.875rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .h1-homepage {
    font-size: 1.25rem;
  }

  .about-us-h1,
  .h2-contact {
    font-size: 1.5rem;
  }

  .donation-items {
    grid-template-columns: 1fr;
  }

  .donation-item {
    padding: 0.75rem;
  }

  .donation-item h2 {
    font-size: 1rem;
  }

  .donation-item p {
    font-size: 0.875rem;
  }

  .donation-button {
    padding: 0.5rem 0.75rem;
    font-size: 0.625rem;
  }
}

@media (max-width: 480px) {
  .donation-container h1 {
    font-size: 1.25rem;
  }

  .donation-item {
    padding: 0.5rem;
  }

  .donation-item h2 {
    font-size: 0.875rem;
  }

  .donation-item p {
    font-size: 0.75rem;
  }

  .email-button img {
    width: 7vw;
  }
}
