/* imageupload.css */

.imageupload-image {
  margin-top: 10px;
  max-width: 100%; /* Ensure it doesn't exceed the width of the parent */
  overflow: hidden; /* Hide overflow if the image is too big */
}

.imageupload-image img {
  max-width: 100px; /* Set a reasonable max width for the preview */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer; /* Indicate that the image can be clicked */
}

input[type="file"] {
  display: inline-block; /* Prevent it from stretching full width */
  margin-right: 10px; /* Add space between the input and the image */
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-modal-content {
  position: relative;
}

.image-modal img {
  max-width: 90%; /* Responsive image size in modal */
  height: auto;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
